@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*, *:before, *:after { 
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  transition: all 0.4s;
}
body{
    background-color: #1c1c1c;
    color: #f6fff8;
}
.conteudo{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10vh;
}
.descrição .titulo{
    font-size: 2.5rem;
    font-style: initial;
    font-weight: 600;
}
.descrição .desc{
    font-size: 1.2rem;
    width: 40pc;
    margin-top: 10px;
}
.center{
    display: flex;
    justify-content: center;
    height: max-content;
}
.cards{
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    top: 15vh;
}
.botao img{
    width: 100px;
}
.botao button{
    width: 20vh;
    height: 20vh;
    cursor: pointer;
    margin: 2vh;
    border: 0.50vh solid #fb5607;
    box-shadow: 0px 0px 20px -6px rgba(251,86,7,1);
    border-radius: 2vh;
    background-color: #f7f7ff;
}
button:hover{
    transition: 0.4s;
    transform: translate(-0.50em,-0.50em);
    background-color: #ebebeb;
    border: 0.50vh solid #8338ec;
    box-shadow: 0px 0px 20px -6px rgba(131,56,236,1);
}