@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*, *:before, *:after { 
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  transition: all 0.4s;
}
body{
    background-color: #3c3744;
    color: #f6fff8;
}
.conteudo{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10vh;
}
.descrição .titulo{
    font-size: 2.5rem;
    font-style: initial;
    font-weight: 600;
}
.descrição .desc{
    font-size: 1.2rem;
    width: 40pc;
    margin-top: 10px;
}
.center{
    display: flex;
    justify-content: center;
    height: max-content;
}
.cards{
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    top: 15vh;
}
.botao img{
    width: 100px;
}
.botao button{
    width: 20vh;
    height: 20vh;
    cursor: pointer;
    margin: 2vh;
    border: 0.50vh solid #4bb3fd;
    box-shadow: 0px 0px 20px -10px rgba(251,255,241,1);
    border-radius: 2vh;
    background-color: #f8f9fb;
}
button:hover{
    transition: 0.2s;
    transform: translate(-0.50em,-0.50em);
    background-color: #ebebeb;
    border: 0.50vh solid #171a21;
    box-shadow: 0px 0px 25px -10px rgba(251,255,241,1);
}
button:active {
    transform: translate(0.05em, 0.05em);
    border: 0.50vh solid #d63230;
    box-shadow: 0px 0px 30px -10px rgba(214,50,48,1);
}
aside{
    display: none;
    justify-content: center;
    width: 20pc;
    height: 18pc;
    position: relative;
    position: fixed;
    bottom: 10pc;
    border-radius: 2vh;
    background-color: #000000e3;
    border: 0.50vh solid #d63230;
    box-shadow: 0px 5px 21px 2px rgba(43,45,66,0.3);
    z-index: 0;
    animation-name: animacao;
    animation-duration: 2s;
}
@keyframes animacao { 
    from{ opacity:0 } 
    to{ opacity:1 }
}
.infoADD{
    text-align: center;
    font-size: 2.3rem;
    margin-top: 30px;
    height: min-content;
    color: #ebebeb;
}
.infoDesc{
    font-size: 1.3rem;
    text-align: center;
    color: #ebebeb;
    margin-left: 10px;
    margin-right: 10px;
}
.infoDesc .p2{
    color: #8338ec;
    text-decoration: underline;
    font-size: 1.8rem;
}
