@media screen and (max-width: 767px){
    .descrição .titulo{
        font-size: 2.2rem;
        font-weight: 600;
        width: 300px;
    }
    .descrição .desc{
        font-size: 1.2rem;
        width: 300px;
        margin-top: 10px;
    }
    .cards{
        display: grid;
        grid-template-columns: auto auto;
        position: relative;
        top: 15vh;
    }
    .botao img{
        width: 80px;
    }
    .botao button{
        width: 18vh;
        height: 18vh;
        cursor: pointer;
        margin: 2vh;
        border: 0.60vh solid #4bb3fd;
        border-radius: 2vh 0vh 2vh 2vh;
        background-color: #f8f9fa;
    }
    .botao button:hover{
        transition: 0.2s;
        transform: translate(-0.50em,-0.50em);
        background-color: #ebebeb;
    }   
    .botao button:active {
        transform: translate(0.05em, 0.05em);
        border: 0.50vh solid #d63230;
        box-shadow: 0px 0px 30px -10px rgba(214,50,48,1);
    }
    aside{
        position: relative;
        position: fixed;
        bottom: 15pc;
    }
    .temas button{
        width: 100px;
        height: 40px;
        border: 0.50vh solid #171a21;
        margin: 10px 10px 0px 0px;
        border-radius: 1vh;
        background-color: #f8f9fb;
    }
    .temas button:active{
        transform: translate(0.05em, 0.05em);
        border: 0.50vh solid #d63230;
        box-shadow: 0px 0px 30px -10px rgba(214,50,48,1);
    }
    .temas p{
        color: #171a21;
        font-size: 1rem;
        font-weight: 600;
    }
}