@media screen and (max-width: 767px){
    .descrição .titulo{
        font-size: 2.2rem;
        font-weight: 600;
        width: 250px;
    }
    .descrição .desc{
        font-size: 1.2rem;
        width: 200px;
        margin-top: 10px;
    }
    .cards{
        display: grid;
        grid-template-columns: auto auto;
        position: relative;
        top: 15vh;
    }
    .botao img{
        width: 80px;
    }
    .botao button{
        width: 18vh;
        height: 18vh;
        cursor: pointer;
        margin: 2vh;
        border: 0.50vh solid #4bb3fd;
        box-shadow: 0px 0px 20px -10px rgba(251,255,241,1);
        border-radius: 2vh;
        background-color: #f7f7ff;
    }
    button:hover{
        transition: 0.2s;
        transform: translate(-0.50em,-0.50em);
        background-color: #ebebeb;
        border: 0.50vh solid #171a21;
        box-shadow: 0px 0px 25px -10px rgba(251,255,241,1);
    }   
    button:active {
        transform: translate(0.05em, 0.05em);
        border: 0.50vh solid #d63230;
        box-shadow: 0px 0px 30px -10px rgba(214,50,48,1);
    }
    aside{
        position: relative;
        position: fixed;
        bottom: 15pc;
    }
}